In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
def get_pages():
    url="https://books.toscrape.com/catalogue/page-"
    pagecontents=[]
    for i in range(1,51):
        response=requests.get(url+str(i)+'.html')
        if response.status_code!=200:
            raise Exception(f"Failed to load page{topics_url+str(i)+'.html'}")
        pagecontents.append(response.text)
    doc=[]
    for i in range(len(pagecontents)):
        doc.append(BeautifulSoup(pagecontents[i],'html.parser'))
    return doc

In [3]:
document=get_pages()

In [58]:
def panda_data():
    dic={'title':[],'price($)':[],'stock':[],'rating(out_of_5)':[]}
    for i in range(len(document)):
        titles=document[i].find_all('article',class_='product_pod')
        for i in titles:
            title=i.find('h3').text.strip()
            price=float(str(i.find('p',class_='price_color').text)[2:])
            stock=i.find('p',class_='instock availability').text.strip()
            rating=str(i.find('p'))[22:27]
            dic['title'].append(title)
            dic['price($)'].append(price)
            dic['stock'].append(stock)
            if rating.startswith('One'):
                dic['rating(out_of_5)'].append(1)
            elif rating.startswith('Two'):
                dic['rating(out_of_5)'].append(2)
            elif rating.startswith('Thr'):
                dic['rating(out_of_5)'].append(3)
            elif rating.startswith('Fou'):
                dic['rating(out_of_5)'].append(4)
            elif rating.startswith('Fiv'):
                dic['rating(out_of_5)'].append(5)
    return pd.DataFrame(dic)

In [66]:
a=panda_data()
b=a.to_csv('books.csv',index=False)
b

In [68]:
data=pd.read_csv('books.csv')
data.head()

                          title  price($)     stock  rating(out_of_5)
0            A Light in the ...     51.77  In stock                 3
1            Tipping the Velvet     53.74  In stock                 1
2                    Soumission     50.10  In stock                 1
3                 Sharp Objects     47.82  In stock                 4
4  Sapiens: A Brief History ...     54.23  In stock                 5